# cat /etc/systemd/system/aria2.service 
[Unit]
Description=Aria2 Service
After=network.target

[Service]
Restart=always
Type=forking
EnvironmentFile=/etc/trackers
ExecStartPre=/usr/bin/echo trackers=`/usr/bin/wget -qO- https://trackerslist.com/best_aria2.txt` > /etc/trackers
ExecStart=/usr/bin/aria2c --daemon=true --quiet=true --enable-rpc=true --rpc-listen-all=true --conf-path=/etc/aria2.conf --bt-tracker=${trackers}


[Install]
WantedBy=multi-user.target
